body {
  height: 98vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#mapDIV {
  height: 100%;
}

#description {
  position: fixed;
  bottom: 0px;
  left: 10px;
  width: auto;
  margin-bottom: 30px;
  padding: 10px;
  background-color: rgba(231, 238, 208, 0.7);
  border: 1px solid grey;
  border-radius: 5px;
  z-index: 800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#description p {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

#description h3 {
  padding: 0;
  margin: 0;
}
